body{
  background-color:#add8e6;
  margin:0;
  font-family:Arial;
}

.container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card{
  background:white;
  padding:40px;
  border-radius:10px;
  text-align:center;
  box-shadow:0px 4px 10px rgba(0,0,0,0.2);
}

button{
  padding:10px 15px;
  margin:5px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  color:white;
}

.happy{
  background:#28a745;
}

.sad{
  background:#007bff;
}

.angry{
  background:#dc3545;
}

.tired{
  background:#6c757d;
}